body {
  background: #cbe2f5;
  margin: 0;
  padding: 0;
  display: block;
}
.header {
  width: 100vw;
  height: 8vh;
  background: #4167c0;
}
.txtHead {
  padding-left: 10px;
  font-size: 14pt;
  font-weight: bold;
  color: white;
  float: left;
}

.menu {
  float: right;
  list-style: none;
  display: flex;
  font-size: 12pt;
  font-weight: bold;
  color: #f1f0ee;
}

/* position: absolute; แสดงแบบอิสระ */

.menu li {
  font-size: 11pt;
  padding-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: #f1f0ee;
  display: block;
  transition: 0.3s; /* ก่อนเปลี่ยนให้ animation-delay  */
}

.menu li a:hover {
  color: black;
  border-bottom: 2px solid red;
  cursor: default;
}

.menu li li {
  font-size: 11pt;
  line-height: 30px;
  te
}

/* Sub-menu */
.menu li ul {
  border-radius: 5px;
  position: absolute;
  list-style: none;
  display: none;
  width: inherit;
  background: #045190;
}

.menu li li a:hover {
  color: red;
  border-bottom: none;
  cursor: pointer;
}

.menu li:hover ul {
  display: block;
}
